<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hare Krishna</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid custom-navbar">
      <a class="navbar-brand" href="#">
        <img src="/static/logo.png" width="70" height="70" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="step1">Step-1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="step2-q1">Step-2 Task-1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="step2-q2">Step-2 Task-2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="step2-q3">Step-2 Task-3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="step3">Step-3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="end">End</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="top-paginations">

    <div class="button">
    <a id="prev-button"  href="step2-q1">&larr; Previous</a>
    <a id="tnext-link"  disabled href="step2-q3">Next &rarr;</a>
   </div>
  </div>
  <div class="Bigcontainer">
    <div class="container1">
      <div class="row justify-content-center">
        <iframe
          src="https://docs.google.com/document/d/1S2U64zpHLkqL-JSd7txskcMDzUqMtl1z__jVYjxnt-0">
        </iframe>
      </div>
    </div>
    


    <div class="container2">
      <div class="row justify-content-center">
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSd1zcc8Qda6oPEic4bBO3YJn7KxZx9FDVhl-a88p0BmPu6cqg/viewform?embedded=true">Loading…</iframe>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="bot-btn">
      <button type="button" class="btn btn-primary"><a class="bot-link" href="http://127.0.0.1:8000/assistant-bot/">Bot
          Page</a></button>
    </div>
    <div class="doc-btn">
      <button type="button" class="btn btn-primary"><a href="#" class="doc-link">Case Doc</a></button>
    </div>
  </div>

  <div class="paginations">
    <div>
      <input type="checkbox" id="myCheckbox"> I agree to move to the next step
    </div>

        <div class="button">
        <a id="next-link" disabled href="step2-q3">Move To Next Step</a>
       </div>
    
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="/static/script.js"></script>
</body>

</html>